/* * {
    outline: 2px solid red;
} */

/* ------ Global CSS: ------ */

body{
    display: auto;
    flex-direction: column;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 16px;
    padding: 16px;
}

/* ------ CSS for landing page: ------ */

div.title {
    padding: 24px 16px;
    font-size: 36px;
    font-style: italic;
}

ul {
    display: auto;
    flex-direction: column;
    padding-left: 16px;
}

ul li {
    color: black;
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 16px
}

a {
    font-size: 24px;
    font-style: normal;
    text-decoration: none;
    color: black;
}

/* mouse over link */
a:hover {
    font-style: italic;
    color: blue;
}

/* ------ CSS for individual recipe pages: ------ */

p.subtitle {
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 0px 16px;
    font-size: 24px;
    font-style: normal;
}


/* .header-list {
    font-size: 16px;
    display: flex;
    flex-direction: row;
}

.header-img {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 0px;
    width: 50%;

} */

.headers {
    font-size: 24px;
    display: flex;
    flex-direction: row;
}

.headers .header-list {
    padding-left: 32px;
    margin-right: auto;
    width: 30%;
}

.headers .header-img {
    margin-left: auto;
    margin-right: 0px;
    width: 50%;
}

.ingredients-and-img {
    display: flex;
    flex-direction: row;
}

img {
    margin-left: auto;
    margin-right: 0px;
    width: 50%;
}

.list-element {
    list-style-type: none;
    padding-left: 32px;
    font-size: 16px;
}

a.button {
    display: block;
    border: none;
    color: black;
    font-size: 16px;
    text-decoration: none;
    padding: 4px 4px;
    margin-left: auto;
    margin-top: 8px;
    width: 60px;
}
a.button:hover {
    background-color: blue;
    color: white; 
}